<div id="content" class="container">
    <header id="content-header">
        <div id="price-container">
        	<span class="glyphicon glyphicon-tag"></span><span class="price">$19.99</span>
        </div>
    	<%= image_tag('header-image.jpg', id:"content-head-img", alt: "Learn Rails!") %>
	</header>
	
	<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-8">
    <h1 id="article-title">Check out our shirts!</h1>
  </article>
</section>

<section id="products">
<% @products.each do |product| %>
 <div class="product clearfix">
   <a href="<%= product_path(product) %>">
    <div class="product-image-container">
     <img src="<%= asset_path product.image_name %>"  alt="<%= product.title %>"/>
     <span class="product-price">$<%= product.price %></span>
   </div>
   <p class="product-title"><%= product.title %></p></a>
 </div>
 <% end %>
</section> 


</div>


