<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Weirdwolf Designs</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
 	<%= csrf_meta_tags %>
  	
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <script>
    $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(0).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
    n})
    </script>
  
</head>
<body>

<nav class="navbar navbar-custom">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">
                <%= image_tag('ww3.png', id:"brand-nav-img", alt: "WeirdWolf Designs") %>
            </a> -->
            <a class="navbar-brand" href="/">WEIRDWOLF</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown">
                <a href="/products" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false">SHOP <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">MEN</a></li>
                    <li><a href="#">WOMEN</a></li>
                    <li><a href="#">MORE</a></li>
                </ul>
                </li>-->
                <<li><a href="/products/">SHOP</a></li>
                <li><a href="/pages/about/">ABOUT</a></li>
                <li><a href="/pages/contact/">CONTACT</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<%= yield %>
<!-- <div id="content" class="container">
    <header id="content-header">
        <div id="price-container">
        	<span class="glyphicon glyphicon-tag"></span><span class="price">$19.99</span>
        </div>
    	<%= image_tag('header-image.jpg', id:"content-head-img", alt: "Learn Rails!") %>
	</header>
	<%= yield %>
</div>-->

<footer id="site-footer">
    <div class="footer-text">
        <h4>
        FOLLOW
        <a href="https://www.facebook.com/WeirdwolfDesigns/">
            <i class="fa fa-facebook-square "></i>
        </a>
        <a href="https://www.instagram.com/weirdwolf_designs/">
            <i class="fa fa-instagram"></i>
        </a>
        *
        <a href="/products/">SHOP</a>
        *
        <a href="/pages/about/">ABOUT</a>
        *
        <a href="/pages/contact/">CONTACT</a>
        </h4>
    </div>
    <div class="footer-text">
        <div class="col-xs-12">
            <p class='text-info-gray copyright'> © 2017 Weirdwolf Designs </p>
        </div>
    </div>
    <div class="footer-text">
      Made by <a href="http://dangorodezky.com" target="_blank"> Dan Gorodezky </a>
    </div>
</footer>
</body>
</html>
